<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rango</title>
  </head>
  <body>
    <h1>Rango says...</h1>
    <div>
      here is the about page. <br />
      <strong>This page has been put together by Yaroslav Kizyma</strong><br />
    </div>
    <div><a href="/rango/">Main Page</a><br /></div>
    <img src="{{ MEDIA_URL }}assignment_cat.jpg" alt="Picture of a Cat." />
  </body>
</html>
